/* Font */
@font-face {
  font-family: 'BebasNeue';
  src: url(./asset/fonts/BebasNeue-Regular.woff) format('woff');
}

/* Main Style */
body {
  background-color: #dddddd;
  font: 18px/36px 'BebasNeue', 'Trebuchet MS', arial, sans-serif;
}

h1.title {
  font-size: 85px;
  font-family: 'BebasNeue';
  font-weight: bold;
  text-align: center;
  margin: 50px auto;
  text-shadow: 1px 1px 2px white;
}

.container {
  background-color: #ffffff;
  width: 960px;
  margin: auto;
  padding: 30px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.gallery li {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 5px solid lightblue;
  overflow: hidden;
  margin: 5px 5px;
  float: left;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
}

.gallery li a {
  text-decoration: none;
  font-family: 'BebasNeue';
  text-align: center;
  line-height: 160px;
  color: black;
  font-size: 20px;
  text-shadow: 1px 1px 1px #ddd;
}

.gallery li span {
  display: block;
  overflow: hidden;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: rgba(250, 250, 250, 0.6);
  position: absolute;
  top: 0;
  opacity: 0;
  transform: scale(0) rotate(0);
  transition: 0.2s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: scale(0) rotate(0);
  -moz-transform: scale(0) rotate(0);
  -ms-transform: scale(0) rotate(0);
  -o-transform: scale(0) rotate(0);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.gallery li a:hover span {
  opacity: 1;
  transform: scale(1) rotate(360deg);
  -webkit-transform: scale(1) rotate(360deg);
  -moz-transform: scale(1) rotate(360deg);
  -ms-transform: scale(1) rotate(360deg);
  -o-transform: scale(1) rotate(360deg);
}

.gallery li img {
  overflow: hidden;
  width: 180px;
  height: auto;
}

/* Overlay */
.overlay {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  z-index: 9999;
  text-align: center;
  padding: 100px 0px;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}
.overlay .close {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: 450px;
  width: 50px;
  height: 50px;
}

.overlay .close .closebutton {
  color: goldenrod;
}

li .overlay img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: 900px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
}

li div.overlay a.next img {
  position: absolute;
  top: 40%;
  margin-left: 40px;
  max-height: 100%;
  height: auto;
  width: 90px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

li div.overlay a.previous img {
  position: absolute;
  top: 40%;
  margin-left: -130px;
  max-height: 100%;
  height: auto;
  width: 90px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

li .overlay img#fuukaimage {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
}

.overlay:target {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

li .overlay:target img {
  animation: ZoomandFade 0.8s;
  -webkit-animation: ZoomandFade 0.8s;
}

li .overlay:target a {
  animation: ZoomandFade 0.8s;
  -webkit-animation: ZoomandFade 0.8s;
}

/* Navigasi */

/* Correction per character */
#makoto {
  width: 200px;
}

#mitsuru {
  width: 230px;
}

#akihiko {
  width: 170px;
}

#junpei {
  width: 170px;
}

#aigis {
  width: 160px;
}

#ken {
  width: 160px;
}

#fuuka {
  width: 150px;
}

#shinjiro {
  width: 160px;
}

#koromaru {
  width: 190px;
}

/* animasi */
@keyframes ZoomandFade {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    opacity: 1;
  }
}

.cf:before,
.cf:after {
  content: ' '; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}
